@font-face {
  font-family: UntitledSans;
  src: url(https://embed.type3.audio/fonts/untitled-sans/untitled-sans-light.woff2);
  font-weight: 300;
}
@font-face {
  font-family: UntitledSans;
  src: url(https://embed.type3.audio/fonts/untitled-sans/untitled-sans-regular.woff2);
  font-weight: 400;
}
@font-face {
  font-family: UntitledSans;
  src: url(https://embed.type3.audio/fonts/untitled-sans/untitled-sans-medium.woff2);
  font-weight: 500;
}
@font-face {
  font-family: UntitledSans;
  src: url(https://embed.type3.audio/fonts/untitled-sans/untitled-sans-bold.woff2);
  font-weight: 700;
}
